body {
    margin: 0;
    font-family: sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: AntiqueWhite;
}

th {
    background-color: lightblue;
}

img {
    margin-top: 20px;
    margin-bottom: 80px;
}

a {
    left:0;
    display:block;
}